{{=[[ ]]=}}
- name: Deploy to Netlify
        uses: netlify/actions/cli@main
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: [[netlifyId]]
        with:
          args: deploy --prod